.uh{
    background-color:blue ;
    color: turquoise;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px turquoise;
}
body{
   display: flex;
   align-items: center;
   justify-content:center ;
   height: 90vh;
   position: relative;
}